
.category__card{
    row-gap: 0.25em;
    width: auto;
}
.category__card-2x{
    row-gap: 0.25em;
    width: auto;
}
.cate__c-bg{
    width: 9.375em;
    height: 12.5em;
    object-fit: cover;
    
}
.cate__c-bg-2x{
    width: 15em;
    height: 20em;
    object-fit: cover;
    border-radius: 0.5em;
}
.cate__content-holder{
    row-gap: 0.2em;
}
.cate__content-holder-2x{
    row-gap: 0.2em;
    width: 37.5em;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.category__card {
    transition: transform 0.3s ease-in-out;
}

.category__card:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.category__card.rr__flex-row.rrf__col-normal:hover{
    cursor: pointer;
}
