
.modal__layout{
    width: 42em;
    padding: 1em;
    border-radius: var(--radius-scale);
}
.login__modal{
    width: 28em;
    padding: 2em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin: auto;
    z-index: 1000;
}
.modal__holder{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg__shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal__content-holder{



    
}
.smd__size{
    width: 40em;
    padding: 2em;
    border-radius: var(--radius-scale);
}
.smd__label{
    width: 6.25em;
}
.smd__label-2{
    width: 10em;
}
.smd__label-3{
    width: 12em;
}
.smd__input{
    border-radius: var(--radius-scale);
}
.smd__textarea{
    border-radius: var(--radius-scale);
    height: 10em;
}
.smd__input:focus{
    outline: 2px solid var(--secondary-color);
    border: none;
    box-shadow: 0 0 5px var(--primary-color);
}
.smd__textarea:focus{
    outline: 2px solid var(--secondary-color);
    border: none;
    box-shadow: 0 0 5px var(--primary-color);
}
/* drop down  */
.category-dropdown {
    position: absolute;
    width: auto;
    max-height: 150px;
    overflow-y: auto;
    background-color: var(--bg-color);
    border: 1px solid #ffffff;
    border-top: none;
    z-index: 1000;
    border-radius: var(--radius-scale);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
  
.category-item {
    padding: 8px;
    cursor: pointer;
}
  
.category-item:hover {
    background-color: #f0f0f0;
}

/* stream status  */
.str__status{
    max-width: inherit;
    height: 10em;
    border-radius: var(--radius-scale);
    scroll-behavior: smooth;
    overflow-y: scroll;
    scrollbar-width: none;
    
    text-wrap: wrap;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.str__status::-webkit-scrollbar{
    display: none;
}