/* @import url(./root.css); */
.content__holder-pos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    right: 0;
    align-items: center;
}
