/* @import url(./root.css); */
.nav__bar{
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    position: fixed;
    background-color: var(--primary-color);
    justify-content: space-between;
    padding: 0.5em 0.7em;
    display: flex;
    flex-direction: row;
    border-bottom: 0.16em var(--border-color) solid;
    z-index: 9999;
    
}


.left__ch{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
}
.n__logo{
    width: 2.4em;
    height: 3em;
    border-radius: var(--radius-scale);
    
}
.n__logo:hover {
    cursor: pointer;
}
.lch__title{
    color: white;
    font-size: 2em;
}
.middle__ch{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.5em;
    align-self: center;
    margin-right: 15em;
}
.right__ch{
    display: flex;
    flex-direction: row;
    row-gap: 1em;
    align-items: flex-end;
}

.search__box{
    width: 30em;
    height: 100%;
    background-color: #1e1e1e;
    border: 0.16em #949090 solid;
    color: #949090;
    
    border-top-left-radius: var(--radius-scale);
    border-bottom-left-radius: var(--radius-scale);
    padding-left: 1em;
}
.search__box:focus {
    border: 0.16em solid var(--secondary-color);
}
.search__box::placeholder{
    color: #949090;
}
.search__btn{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    font-size: 1.4em;
    background-color: #949090;
    border-top-right-radius: var(--radius-scale);
    border-bottom-right-radius: var(--radius-scale);
}
.search__btn:hover {
    opacity: 0.7;
    cursor: pointer;
}
@media screen and (max-width: 46.1875em) {
    .middle__ch{
        display: none;
    }
}
@media screen and (min-width: 46.25em) and (max-width: 70em) {
    
    .middle__ch{
        display: none;
    }
}

/* Mobile: Width < 740px */
/* Tablet: 740px <= Width < 1024px */
/* PC: Width >= 1024px */