/* @import url(./root.css); */

.profile__menu {
    height: 3.125em;
    width: auto;
    align-items: self-end;
    display: flex;
    flex-direction: column;
    margin-right: 1.25em;
    transition: opacity 0.3s ease;
}

.profile__menu:hover {
    opacity: 0.8;
    cursor: pointer;
}
.img__holder{
    width: 3em;
    height: 3em;
    border-radius: 25px;
}

.dd__menu{
    position: absolute;
    right: 2em;
    top: 3.5em;


    width: 16.875em;
    height: auto;
    padding: 1.25em 1em;
    display: flex;
    flex-direction: column;
    row-gap: 1.25em;
    background-color: #2E3435;
    border-radius: var(--radius-scale);
    border: 0.16em var(--border-color) solid;
}
.user__info-holder{
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    align-items: center;


}
.uih__name{
    width: fit-content;
    text-align: center;
    font-size: 1.6em;
    color: white;
}
.opt__holder{
    display: flex;
    flex-direction: column;
    column-gap: 0.5em;
    color: white;
}
