/* @import url(./root.css); */



.sb__option-label{
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    border-radius: var(--radius-scale);
    padding: 0.5em;
    /* min-width: 15em; */
    height: auto;
}

.sb__option-label:hover {
    /* background-color: var(--secondary-color);
    animation: sb__label 0.2s forwards;
    .text{
        color: black;
        font-weight: 400;
    }
    .icon{
        color: black;
    } */
    opacity: 0.7;
    cursor: pointer;

}
.icon{
    width: var(--icon-box-size);
    height: auto;
    align-items: center;
    color: white;
    display: flex;
}
.text{
    font-size: var(--font-2x);
    color: white;
    text-align: center;
    padding-top: 0.1em;
}
@keyframes sb__label {
    from{
        opacity: 1;

    }
    to{
        opacity: 0.7;

    }
}
.sb__option-label_toggled {
    display: flex;
    flex-direction: row;
    border-radius: var(--radius-scale);
    padding: 0.5em;
    /* min-width: 15em; */
    height: auto;
    background-color: var(--secondary-color);
    .text{
        color: black;
        font-weight: 400;
    }
    .icon{
        color: black;
    }
}




