@import url(./root.css);

.main__position{
    position: fixed;
    display: flex;
    flex-direction: row;
    left: 0;
    
    width: 100%;
    height: 100%;
    
}
.main__content{
    padding-top: 3em;
    background-color: transparent;
    width: 100%;
    height: auto;
    flex: 6;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scrollbar-width: none;
    row-gap: 0.727em;
}
::-webkit-scrollbar {
    display: none;
}
.bg__img{
    width: 100%;
}





.sidebar{
    /* position: fixed; */
    left: 0;
    height: 100%;
    background-color: var(--primary-color);
    z-index: 9999;
}

.sb__label{
    font-size: 2em;
    text-align: center;
    color: white;
}
.sb__option-holder{
    display: flex;
    flex-direction: column;
    row-gap: 0.6em;
    padding: 0.6em 0.43em;
}

/* INDEX */
.cn__holder{
    row-gap: 1em;
    padding-top: 5em;
    padding-bottom: 5em;
    min-width: var(--sidebar-width);
    /* border-right: 0.16em var(--border-color) solid; */


}
.cn__holder-comps{
    display: flex;
    flex-direction: column;
}
.cn__holder-label{
    width: 100%;
    text-align: center;
    color: white;
}


/* index > main > stream holder */
.stream__holder{
    padding: 1.5em 1.25em;
    row-gap: 1em;
    
}
.sh__content-holder{
    column-gap: 1em;
    flex-wrap: wrap;
    row-gap: 1.2em;

}
.sepe__line{
    width: 100%;
    height: 1px;
    align-self: center;
    background-color: #555555;
}
.btn__holder{
    width: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    line-break: strict;
    column-gap: 1em;
}

/* video */
.vd__holder{
    /* max-height: 44em; */
    width: 40em;
    height: 20em;
    padding: 2em;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-scale);

}
.video__holder{
    width: 100%;
    height: 50em;
    margin-top: 1em;
}
.vd__main{
    width: 77em;
    height: auto;
    background-color: #ffffff;
}

/* following page  */


.fl__content-holder{
    padding: 2em;
    row-gap: 0.5em;
}
