/* @import url(./root.css); */

.tag__card{
    background-color: var(--bg-color);
    color: #AAAAAA;
    border-radius: 1em;
    width: fit-content;
    padding: 0.3em 1em;
    text-align: center;
    display: flex;
    align-items: center;
}
.tag__card:hover {
    background-color: #555555;
    cursor: pointer;
}