/* @import url(./root.css); */

.vc__holder{
    display: flex;
    flex-direction: column;

    width: 19em;
    height: auto;
}
.thumbnail{
    width: 100%;
    border-radius: var(--radius-scale);
    background-size: cover;
    height: 10.6875em;
}
.thumbnail__small{
    width: 13.56em;
    height: 7.65em;
    border-radius: var(--radius-scale);
    background-size: cover;
}
.thumbnail__small:hover{
    cursor: pointer;
}
.live__tag{
    background-color: red;
    width: fit-content;
    padding: 0.1em 0.5em;
    color: white;
    border-radius: var(--radius-scale);
    margin-left: 0.5em;
    margin-top: 0.5em;
    text-align: center;
    user-select: none;
}
.vc__content{
    display: flex;
    flex-direction: column;
    row-gap: 0.3125em;
    padding-top: 0.5em;
}
.uinf__holder{
    display: flex;
    flex-direction: row;
    column-gap: 1.25em;
}
.avatar{
    width: 3em;
    height: 3em;
    border-radius: 2em;
}
.avatar:hover{
    cursor: pointer;
}
.uinf__holder-1{

    display: flex;
    flex-direction: column;
    column-gap: 0.3em;
    color: white;
}

.tag__holder{
    column-gap: 0.25em;
}
.thumbnail:hover {
    
    cursor: pointer;
    border-inline: 2px solid var(--secondary-color);
    /* margin-bottom: 1em; */
}
.vc__title:hover {
    color: var(--secondary-color);
    cursor: pointer;
}
.vc__username:hover {
    color: var(--secondary-color);
    cursor: pointer;
}
.vc__category:hover {
    color: var(--secondary-color);
    cursor: pointer;
}